.calendar-day span {
  display: none;
}

.calendar-day {
  width: 40px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1px 1px 0;
  background-color: var(--form-back-color);
  position: relative;
}
.calendar-day.primary {
  background-color: var(--pre-color);
  color: #fff;
  text-decoration-line: overline;
  text-decoration-thickness: 3px;
}
.fmonth {
  margin: 0;
  padding: 10px;
  border-width: 0px !important;
  background: rgba(242, 242, 242, 1);
  border-color: rgb(85, 91, 110) !important;
  line-height: 1;
  font-family: Antonio;
  width: 50%;
}
.toggle-controls {
  justify-content: flex-end;
  display: flex;
}
.toggle-controls button {
  line-height: 0;
}
.fmonth small {
  color: rgba(85, 91, 110, 0.7);
}
.calendar-day.Sunday {
  background-color: rgb(223, 200, 197);
}
.calendar-day.Saturday {
  background-color: rgb(214, 197, 223);
}

.calendar-day.Monday:first-of-type {
  margin-left: calc(40px * 1 + 1px);
}
.calendar-day.Tuesday:first-of-type {
  margin-left: calc(40px * 2 + 2px);
}
.calendar-day.Wednesday:first-of-type {
  margin-left: calc(40px * 3 + 3px);
}
.calendar-day.Thursday:first-of-type {
  margin-left: calc(40px * 4 + 4px);
}
.calendar-day.Friday:first-of-type {
  margin-left: calc(40px * 5 + 5px);
}
.calendar-day.Saturday:first-of-type {
  margin-left: calc(40px * 6 + 6px);
}

div[data-makegrid="false"] .calendar-day {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  margin-left: 0 !important;
}
div[data-makegrid="false"] .calendar-day span {
  display: inline;
  float: left;
  font-size: 12px;
  color: #333;
}
div[data-makegrid="false"] .calendar-day:hover span {
  background: #333;
  padding: 2px 10px 4px;
  border-radius: 12px;
  color: #ccc;
}
div[data-makegrid="false"] .calendar-day.primary span {
  color: #fff;
}
div[data-makegrid] {
  overflow: auto;
  margin: 0 auto;
  padding-top: 20px;
}
.calendar-day::after {
  content: attr(tooltip);
  position: absolute;
  display: none;
}
.calendar-day:hover {
  z-index: 1;
}
.calendar-day:hover:after {
  display: block;
  background: #333;
  color: #e6e6e6;
  font-size: 10px;
  padding: 1px;
  border-radius: 4px;
  top: 0px;
  right: 0;
  left: 0;
}
div[data-makegrid="false"] .calendar-day::after {
  top: 10px;
  padding: 3px 10px;
  content: none;
}
.monthly-calendar .button-group button {
  line-height: 0;
  border: 0;
  background: none;
}
.monthly-calendar .button-group {
  border: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  margin: 0;
  background: #f2f2f2;
}
