.calendar-day span {
  display: none;
}

.calendar-day {
  width: 40px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1px 1px 0;
  background-color: var(--form-back-color);
  position: relative;
}
.calendar-day.primary {
  background-color: var(--pre-color);
}
h1 {
  margin: 0;
  padding: 20px 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  background: linear-gradient(#f2f2f2 70%, transparent);
}
.calendar-day.Sunday {
  background-color: rgb(223, 200, 197);
}
.calendar-day.Saturday {
  background-color: rgb(214, 197, 223);
}

.calendar-day.Monday:first-of-type {
  margin-left: calc(40px * 1 + 1px);
}
.calendar-day.Tuesday:first-of-type {
  margin-left: calc(40px * 2 + 2px);
}
.calendar-day.Wednesday:first-of-type {
  margin-left: calc(40px * 3 + 3px);
}
.calendar-day.Thursday:first-of-type {
  margin-left: calc(40px * 4 + 4px);
}
.calendar-day.Friday:first-of-type {
  margin-left: calc(40px * 5 + 5px);
}
.calendar-day.Saturday:first-of-type {
  margin-left: calc(40px * 6 + 6px);
}

div[data-makegrid="false"] .calendar-day {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  margin-left: 0 !important;
}
div[data-makegrid="false"] .calendar-day span {
  display: inline;
  float: left;
  font-size: 12px;
  color: #9d9d9d;
}
div[data-makegrid] {
  overflow: auto;
  margin: 0 auto;
  padding-top: 20px;
}
.calendar-day::after {
  content: attr(tooltip);
  position: absolute;
  display: none;
}
.calendar-day:hover {
  z-index: 1;
}
.calendar-day:hover:after {
  display: block;
  background: #333;
  color: #e6e6e6;
  font-size: 10px;
  padding: 3px;
  border-radius: 4px;
  top: -10px;
}
div[data-makegrid="false"] .calendar-day::after {
  top: 10px;
  padding: 3px 10px;
}
