.task-options {
  line-height: 0;
  background: none;
  padding: 5px;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.more-controls {
  display: none;
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.more-controls button {
  margin: 0 0 1px 0;
  display: flex;
  justify-content: flex-start;
  background: none;
}
.more-controls button svg {
  padding-right: 10px;
}

.more-controls.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  z-index: 10;
}
.more-controls.right {
  right: 5px;
}
.more-controls.left {
  left: 5px;
}
.card-controls {
  display: flex;
  justify-content: flex-end;
}

.card {
  overflow: unset;
}
select {
  height: 34px;
  padding: 0;
  margin: 8px 0;
}
.status-changer {
  /* border-bottom: 2px solid #fff; */
}
#Todo .status-changer[data-state="todo"] svg {
  border-bottom: 2px solid darkslategrey;
  color: darkslategrey;
}

#Inprogress .status-changer[data-state="inprogress"] svg {
  border-bottom: 2px solid dodgerblue;
  color: dodgerblue;
}
#Completed .status-changer[data-state="completed"] svg {
  border-bottom: 2px solid green;
  color: green;
}
.card.mytask .section:first-of-type {
  border: none;
}
.state-tabs {
  display: none;
}
.mytask:hover .state-tabs {
  display: inherit;
}
@media screen and (max-width: 1020px) {
  .state-tabs {
    display: inherit;
  }
}
