html,
body {
  height: 100%;
}
#root,
body .container {
  padding: 0;
}
body .container .row .taskpanel {
  max-height: 100vh;
  overflow-y: auto;
  width: calc(80% - 300px);
  margin: 0 auto;
  padding: 0 10%;
}
.calendar-panel {
  background-color: #f2f2f2;
  height: 100vh;
}
.monthly-calendar {
  width: 300px;
  max-width: 300px;
  background-color: #f2f2f2;
  height: 100vh;
  overflow: auto;
}
.monthly-calendar.slide-in {
  position: absolute;
  left: -300px;
  z-index: 11;
}
@keyframes slidingIn {
  from {
    left: 0;
  }
  to {
    left: -300px;
  }
}
@keyframes slidingOut {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}
.monthly-calendar.slide-out {
  animation: slidingOut 0.5s;
}
.monthly-calendar.slide-in {
  animation-name: slidingIn;
  animation-duration: 1s;
  box-shadow: 0 0 0 transparent;

  transition: box-shadow 0.1s linear 0.9s;
}
@media screen and (min-width: 768px) {
  .monthly-calendar.slide-in {
    position: inherit;
  }
}
.topbar {
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #f8f8f8;
  z-index: 10;
  align-items: center;
}
.topbar h5 {
  display: none;
}
.topbar .calendarToggle {
  margin-left: 1px;
}
textarea {
  width: 100%;
  margin: 10px 0;
  resize: none;
}

h1 button.small {
  float: right;
  margin: 0;
}

.mytasks.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px 5px 0;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.mytasks .card {
  max-width: unset;
  align-self: flex-start;
  margin: 0;
}
.mytasks .card .section {
  display: flex;
  background: none;
  grid-gap: 10px;
  height: 100%;
}
.mytasks .card .section .status-indicator {
  align-self: start;
  margin: 0;
  background: none !important;
  color: #ddd;
  padding: 2px 0 0;
  line-height: 0;
}
.mytasks .card[data-status="true"] {
  border-color: rgb(185, 229, 185);
  background-color: rgb(185, 229, 185, 0.2);
}
.mytasks .card[data-status="true"] .section .status-indicator {
  color: rgb(174, 214, 174);
}
.getModal {
  display: flex;
  flex: 0 1 auto;
  z-index: 1200;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
}
.card.getusername {
  width: 320px;
}

figure {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
figcaption {
  color: #888;
  padding: 20px 0 0;
  font-size: 16px;
}
.calendarToggle {
  line-height: 0;
}
/* controls */
.controls {
  display: none;
}
.card.mytask:hover .controls {
  display: flex;
  position: absolute;
  margin: 1px;
  right: 0;
}
.controls button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-color: #e0e0e0 !important;
  background-color: #f5f5f5;
  grid-gap: 10px;
}
.controls button span {
  display: none;
}
.controls button:hover span {
  display: unset;
}
.button-group.controls {
  border: 1px solid #e5e5e5;
}
details {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 100%;
  padding: 0.5em 0.5em 0;
}

summary {
  /* font-weight: bold; */
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5em;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 1366px) {
  body .container .row .taskpanel {
    width: calc(95% - 300px);
    padding: 0 2.5%;
  }

  .taskpanel .row .col-lg {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  .mytasks.card-list {
    grid-template-columns: 1fr;
  }

  body
    .container
    .row
    .monthly-calendar.slide-in
    + .taskpanel
    .mytasks.card-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .monthly-calendar {
    position: absolute;
    z-index: 11;
    box-shadow: 40px 4px 48px rgba(0 0 0/0.2);
  }
  body .container .row .taskpanel {
    width: 95%;
    padding: 0 2.5%;
  }
  .calendarToggle {
    order: 2;
    margin-right: 1px;
  }
  body
    .container
    .row
    .monthly-calendar.slide-in
    + .taskpanel
    .mytasks.card-list {
    grid-template-columns: 1fr;
  }

  .controls.button-group {
    flex-direction: row;
  }
  .controls.button-group button {
    border-top: none;
    border-left: 0.0625rem solid var(--button-group-border-color);
  }
  .date-large {
    display: none;
  }
  .topbar h5 {
    background: #efefef;
    padding: 8px 20px 10px;
    display: flex;
    grid-gap: 10px;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
  }
}

/* search */

button.search {
  line-height: 0;
  margin-right: 0;
  margin-left: 0;
}
.getSearchResults.card {
  width: 90%;
  max-width: 640px;
}
.getSearchResults .section.input {
  display: flex;
}
.getSearchResults .section.input button {
  margin: 0;
}
.getSearchResults .section.input input {
  flex: 1;
  margin: 0 10px 0 0;
}
