html,
body {
  height: 100%;
  color: #555b6e;
  background: #f3f3f3;
}
#root,
body .container {
  padding: 0;
}
body .container .row .taskpanel {
  max-height: 100vh;
  overflow-y: auto;
  width: auto;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
  background: #f2f2f2;
}
.logo {
  height: 50px;
  align-self: flex-start;
}
.wrapper {
  padding: 0 5% 0px;
  max-width: 1440px;
  margin: 0 auto;
}
.row.main-content {
  flex-direction: row;
  flex-flow: nowrap;
}
.calendar-panel {
  background-color: #f2f2f2;
  height: 100vh;
}
.monthly-calendar {
  width: 300px;
  max-width: 300px;
  background-color: #f2f2f2;
  height: auto;
  top: 0;
  bottom: 0;
  overflow: auto;
  min-width: 300px;
  border-left: 0.0625rem solid var(--input-border-color);
  position: absolute;
  z-index: 11;
}
.notification-panel {
  width: 300px;
  max-width: 300px;
  background-color: #f2f2f2;
  height: auto;
  top: 0;
  bottom: 0;
  overflow: auto;
  min-width: 300px;
  border-left: 0.0625rem solid var(--input-border-color);
  position: absolute;
  z-index: 11;
  right: 0;
  padding: 0 4px;
}

@keyframes slidingIn {
  from {
    right: -300px;
    box-shadow: -40px 4px 48px rgba(0 0 0/0);
  }
  to {
    right: 1px;
    box-shadow: -40px 4px 48px rgba(0 0 0/0.1);
  }
}
@keyframes slidingOut {
  from {
    right: 1px;
    z-index: 11;
    box-shadow: -40px 4px 48px rgba(0 0 0/0.1);
  }
  to {
    right: -300px;
    z-index: 11;
    box-shadow: -40px 4px 48px rgba(0 0 0/0);
  }
}
.notification-panel.slide-out,
.monthly-calendar.slide-out {
  right: -300px;
  animation: slidingOut 0.5s;
  box-shadow: none;
  box-shadow: -40px 4px 48px rgba(0 0 0/0);
  right: 1px;
  z-index: -1;
}
.notification-panel.slide-in,
.monthly-calendar.slide-in {
  animation-name: slidingIn;
  animation-duration: 1s;
  right: 0px;
  box-shadow: -40px 4px 48px rgba(0 0 0/0.1);
}
@media screen and (min-width: 768px) {
  .monthly-calendar.slide-in {
    /* position: inherit; */
  }
}
.topbar {
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 10;
  align-items: center;
  border-bottom: 0.0625rem solid var(--input-border-color);
}
.topbar h3 {
  padding-left: 1rem;
}
.topbar .calendarToggle {
  margin-left: 1px;
}
.topbar-right-section {
  flex-direction: row;
  display: flex;
}
.topbar-right-section button {
  background: none;
  line-height: 0;
}
textarea {
  width: 100%;
  margin: 10px 0;
  resize: none;
}

h1 button.small {
  float: right;
  margin: 0;
}
.scroll-container {
  padding-bottom: 80px;
  position: relative;
  /*! min-height: 50vh; */
}
.task-container {
  display: flex;
  /*! align-items: stretch; */
  width: 100%;
}
.task-container .taskcolumn {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  border: 0.2rem solid #f2f2f2;
  /*! background: #e7e9ea; */
  border-radius: 8px;

  box-sizing: border-box;
}

.taskcolumn h4 {
  background-color: rgba(15, 54, 88, 0.08);
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
}
.mytasks.card-list {
  padding: 2px 5px;
  margin: 5px;
  /*! background: #eceeef; */
  min-height: 100px;
  display: block;
  background: #e7e9ea;
  border-radius: 4px;
  flex-grow: 1;
}

.mytasks .card {
  max-width: unset;
  align-self: flex-start;
  margin: 5px 0;
  border-radius: 0px;
  border-width: 0 0 0 4px;
  box-sizing: border-box;
  display: block;
}
.mytasks .card .section {
  display: flex;
  background: none;
  grid-gap: 10px;
  color: #555b6e;
  flex-direction: column;
}
.mytasks .card .section .status-indicator {
  align-self: start;
  margin: 0;
  background: none !important;
  color: #ddd;
  padding: 2px 0 0;
  line-height: 0;
}
.mytasks .card[data-status="true"] {
  border-color: rgb(185, 229, 185);
  /* background-color: rgb(185, 229, 185, 0.2); */
}
.mytasks .card[data-status="true"] .section .status-indicator {
  color: rgb(174, 214, 174);
}
.getModal {
  display: flex;
  flex: 0 1 auto;
  z-index: 1200;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  background: url(https://i.ibb.co/sHpJ96r/index.png);
}
.getModal + .main-content {
  filter: blur(10px);
}
.card.getusername {
  width: 320px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 0px solid #e8e8e8;
}
.card h3.section {
  border: 0;
  padding: 20px 8px 20px;
  font-size: 32px;
  font-weight: bold;
  color: #b6b8ca;
  background: none;
  font-family: Antonio;
}

.card.getusername label {
  color: #a19c81;
  display: none;
}
.getModal input {
  border: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1) inset;
  letter-spacing: 2px;
  color: #666;
}
.section.error {
  background: no-repeat;
  color: #e07a5f;
  padding: 10px 10px 0;
  display: flex;
  align-items: center;
}
.section.error span {
  padding: 0 10px;
}
figure {
  text-align: center;
  margin: 50px auto;
}
figure img {
  background: #cbcbcb;
  padding: 20px;
  border-radius: 12px;
  max-width: 150px;
}
figcaption {
  color: #888;
  padding: 20px 0 0;
  font-size: 16px;
}
.calendarToggle {
  line-height: 0;
}
/* controls */
.controls {
  display: none;
}
.card.mytask:hover .controls {
  display: flex;
  position: absolute;
  margin: 1px;
  right: 0;
}
.controls button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none !important;
  background-color: transparent;
  grid-gap: 10px;
  color: #3d405b;
  opacity: 0.5;
  transition: all 0.3s ease-in;
}
.controls button span {
  display: none;
  transition: all 0.3s ease-in 0.3s;
}
.controls button:hover {
  opacity: 1;
}
.controls button:hover span {
  display: unset;
  transition: all 0.3s ease-in 1s;
}
.toggle-controls {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: #e2e2e2;
  margin-left: -4px;
  margin-right: -4px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}
.toggle-controls .title {
  padding-left: 15px;
  font: 500 22px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", Helvetica, sans-serif;
}
.toggle-controls button {
  line-height: 0;
}
.button-group.controls {
  border: 0px solid #e5e5e5;
}
details {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  /* font-weight: bold; */
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5em;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 1366px) {
  body .container .row .taskpanel {
  }

  .taskpanel .row .col-lg {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  .mytasks.card-list {
  }

  body
    .container
    .row
    .monthly-calendar.slide-in
    + .taskpanel
    .mytasks.card-list {
  }
  .mytasks.card-list {
    flex-grow: unset;
  }
  .task-container .taskcolumn {
    display: initial;
  }
}

@media screen and (max-width: 768px) {
  .monthly-calendar {
    position: absolute;
    z-index: 11;
    box-shadow: 40px 4px 48px rgba(0 0 0/0.2);
  }
  body .container .row .taskpanel {
  }
  .calendarToggle {
    order: 2;
    margin-right: 1px;
  }
  body
    .container
    .row
    .monthly-calendar.slide-in
    + .taskpanel
    .mytasks.card-list {
    grid-template-columns: 1fr;
  }

  .choose-month.button-group,
  .controls.button-group {
    flex-direction: row;
  }

  .controls.button-group button {
    border-top: none;
    border-left: 0.0625rem solid var(--button-group-border-color);
  }
  .date-large h1 {
    font-size: 32px;
  }
  /* .topbar .calendar {
    background: #efefef;
    padding: 8px 20px 10px;
    display: flex;
    grid-gap: 10px;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
  } */
  .scroll-container {
  }
  .task-container {
    flex-wrap: wrap;
  }
  .task-container .taskcolumn {
    position: relative;
    width: 100%;
    /*! padding-bottom: 20px; */
  }
}

/* search */

button.search {
  line-height: 0;
}
.getSearchResults.card {
  max-width: 640px;
  padding: 40px 20px;
  margin: 10px;
  border: 4px solid #e8e8e8;
  border-radius: 8px;
}
.getSearchResults .section.input {
  display: flex;
}
.getSearchResults .section.input button {
  margin: 0;
}
.getSearchResults .section.input input {
  flex: 1;
  margin: 0 10px 0 0;
}
.section.resultItem {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section.resultItem button {
  margin: 0 10px 0 0;
  display: inline-flex;
  background: none;
  grid-gap: 10px;
  text-decoration: underline;
}
.section.resultItem:hover {
  white-space: normal;
  text-overflow: unset;
}

.notification-panel .card {
  border-radius: 0;
  border: none;
  border-bottom: 0.625rem solid #ccc;
}
.notification-panel .card {
  border-radius: 0;
  border: none;
  border-left: 4px solid #f2f2f2;
  margin-left: -4px;
}
.notification-panel .card:hover {
  border-color: tomato;
  background: #ff634712;
}
.notification-panel .card .section {
  align-items: center;
  display: flex;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
}
.notification-panel .card .section:last-of-type {
  padding-top: 0;
  text-indent: 33px;
}
.notification-panel .card .section .icon {
  padding-right: 10px;
  color: darkgoldenrod;
  line-height: 0;
}
